{port_specs,
  [{".*", "priv/exml_event.so", ["c_src/exml_event.c"],
    [{env, [{".*", "CFLAGS",  "$CFLAGS -g -Wall"},
      {".*", "LDFLAGS", "$LDFLAGS -fPIC -lexpat"}]}]},
    {".*", "priv/exml_escape.so", ["c_src/exml_escape.c"],
      [{env, [{".*", "CFLAGS",  "$CFLAGS -g -Wall"},
        {".*", "LDFLAGS", "$LDFLAGS -fPIC"}]}]}]}.
{cover_enabled, true}.
{pre_hooks,[{"(linux)", compile, "make shared_libs_linux" },
  {"(darwin)", compile, "make shared_libs_darwin" }]}.
{post_hook,[{"(linux||darwin)", clean, "make shared_clean" }]}.
